# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
*.sh text eol=lf
data/**/*.jl filter=lfs diff=lfs merge=lfs -text
*.jl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
