# # musicnn/setup.py install_requires
librosa==0.7.2
numpy>=1.14.5

# listening-moods/requirements.txt
torch>=1.4.0
pytorch-ignite==0.4.0
tqdm

# Project requirements
ipykernel
jupyter
musicnn
pandas
scikit-learn

# Testing requirements
black
jupytext
pytest-subtests
pytest
ipytest
isort
